<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./index.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <header>
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
        <a class="navbar-brand" href="#">[OLC1]Practica 2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Archivo
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                
                <p class="dropdown-item">
                  <input type="button" id="new-file"/>
                  Nuevo
                </p>

                <p class="dropdown-item">
                  <input type="file" id="Open-file" accept=".cs">
                    Abrir
                </p>
                
                <div class="dropdown-divider"></div>

                <p class="dropdown-item">
                  <input type="button" id="save-file"/>
                  Guardar
                </p>
                
              </div>
            </li>
            <li class="nav-item">
              <p class="nav-link">
                <input type="button" id="Analisis"/>
                Analizar</p>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Reportes
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                
                <p class="dropdown-item">
                  <input type="button" id="Reporte_1" onclick="Mostrar_Reporte_Token();"/>
                  Reporte de Tokens
                </p>

                <p class="dropdown-item">
                  <input type="button" id="Reporte_1" onclick="Mostrar_Reporte_Error();"/>
                  Reporte de Errores
                </p>

              </div>
            </li>

          </ul>

        </div>
      </nav>
    </header>

    <br>
    <br>
    <div class="contrainer">
        <div class="row">
            <div class="col-md-5">  
                <fieldset class="form-group">
                   
                    <label><h3>Consola</h3></label>
                    <textarea id="Consola"></textarea>
                
                  </fieldset>
            </div>
          
        </div>

<!--Mis script-->


<script src="./node_modules/bootstrap/dist/js/jquery.js"></script>
<script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>